MusicPlayerWithDat/bin
MusicPlayerWithDat/obj
MusicPlayerWithDat/addons.make
MusicPlayerWithDat/icon.rc
MusicPlayerWithDat/MusicPlayerWithDat.sln
MusicPlayerWithDat/MusicPlayerWithDat.vcxproj
MusicPlayerWithDat/MusicPlayerWithDat.vcxproj.filters
MusicPlayerWithDat/MusicPlayerWithDat.vcxproj.user
MusicPlayerWithDat/.vs/
MusicPlayerWithDat/enc_temp_folder/

